h1 {
    text-align: center;
}

th {
    background-color: black;
    color: white;
}

td {
    border: 1px solid black;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    background-color: blue;
}

button {
    margin: 10px;
    background-color: green;
    border-radius: 4px;
    cursor: pointer;
}